<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self-Service | Help</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="https://i.imgur.com/UM2lYmB.png">
    <script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
</head>

<body>
    <!-- Main Container -->
    <div class="container">
        <!-- Navigation -->
        <header>
            <a>
                <h4 class="logo">University of Hartford | Help Center</h4>
            </a>
            <nav>
                <ul>
                    <li><a href="/students">HOME</a></li>
                    <li><a href="/students/personal">PERSONAL</a></li>
                    <li><a href="/students/academic">ACADEMIC</a></li>
                    <li><a href="/students/classes">CLASSES</a></li>
                    <li><a href="/help">HELP</a></li>
                </ul>
            </nav>
        </header>
        <!-- Hero Section -->
        <p class="mainsection" id="websitehelp"><strong>Website Help</strong></p>
        <p class="mainsection">Please select from one of the many options below to view helpful information pertaining to specific issues within the website.</p>
        <html>

        <body>
            <script>
                function toggleElement(id) {
                    if (document.getElementById(id).style.display == 'none') {
                        document.getElementById(id).style.display = '';
                    } else {
                        document.getElementById(id).style.display = 'none';
                    }
                }

            </script>
            <p class="mainsection">
                <a href="javascript:toggleElement('a1')">What is this website?</a>
            </p>
            <div id="a1" style="display:none" class="mainsection">
                This is a website designed for students to obtain personal or academic information.
            </div>

            <p class="mainsection">
                <a href="javascript:toggleElement('a2')">How can I view my personal information?</a>
            </p>
            <div id="a2" style="display:none" class="mainsection">
                To view your personal information, click the "PERSONAL" tab in the header of the website. This will redirect you to a webpage displaying your personal information.
            </div>

            <p class="mainsection">
                <a href="javascript:toggleElement('a3')">What does my personal information contain?</a>
            </p>
            <div id="a3" style="display:none" class="mainsection">
                Your personal information page contains a variety of helpful identifying information. This includes:
                <ol>
                    <li>Your 8-digit unique identification number.</li>
                    <li>Your full legal name given to you at birth.</li>
                    <li>Your University email address for communications.</li>
                    <li>Your full street address and place of origin.</li>
                    <li>Your home phone number.</li>
                    <li>Your date of birth, including the corresponding timezone.</li>
                    <li>Your social security number. Don't worry, it's secure.</li>
                </ol>
            </div>


            <p class="mainsection">
                <a href="javascript:toggleElement('a4')">How can I view my academic information?</a>
            </p>
            <div id="a4" style="display:none" class="mainsection">
                To view your academic information, click the "ACADEMIC" tab in the header of the website. This will redirect you to a webpage displaying your academic information.
            </div>

            <p class="mainsection">
                <a href="javascript:toggleElement('a5')">What does my academic information contain?</a>
            </p>
            <div id="a5" style="display:none" class="mainsection">
                Your academic information page contains a variety of helpful information related to your academics at the University. This includes:
                <ol>
                    <li>Your 8-digit unique identification number.</li>
                    <li>Your full legal name given to you at birth.</li>
                    <li>Your University email address for communications.</li>
                    <li>Your full street address and place of origin.</li>
                    <li>Your home phone number.</li>
                    <li>Your date of birth, including the corresponding timezone.</li>
                    <li>Your social security number. Don't worry, it's secure.</li>
                </ol>
            </div>

            <p class="mainsection">
                <a href="javascript:toggleElement('a6')">How can I view my class information?</a>
            </p>
            <div id="a6" style="display:none" class="mainsection">
                To view your class information, click the "CLASSES" tab in the header of the website. This will redirect you to a webpage displaying your class information.
            </div>

            <p class="mainsection">
                <a href="javascript:toggleElement('a7')">What does my class information contain?</a>
            </p>
            <div id="a7" style="display:none" class="mainsection">
                Your class information page contains a variety of helpful information related to the courses you are currently enlisted in. This includes:
                <ol>
                    <li>A list of all courses you are currently taking.</li>
                    <li>The identifying CRN number for each course.</li>
                    <li>The official class title for each course.</li>
                    <li>The professor name for each course.</li>
                    <li>The number of credits for each course (0-4;P/NP).</li>
                    <li>The location for each course.</li>
                </ol>
            </div>
            <!-- Copyrights Section -->
            <div class="copyright">&copy;2018 -TEAM<sup>3</sup></sp>
            </div>
    </div>
    <!-- Main Container Ends -->
    </body>

    </html>
