<!DOCTYPE html>
<html>
<head>
	<title>{{title}} Login</title>
	<link rel="stylesheet" type="text/css" href="./style/style.css">
</head>
<body>
	<h1>{{title}}</h1> <!-- Example login page, TODO: allow post actions -->
	<form action="/login" method="post" accept-charset="utf-8"> <!-- WARNING:This file should be deleted and placed by Avery's login page -->
		<label>Username: <input type="text" name="username" value=""></label>
		<label>Password: <input type="password" name="password" value=""></label>
		<label><input type="submit" value="Login"></label>
	</form>
</body>
</html>