<!doctype html>
<html lang="en-US">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self-Service</title>
    <link rel="icon" href="https://i.imgur.com/UM2lYmB.png">
    <script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Logout -->
	<div class ="logout">
      <a class="btn-lg btn-primary" href="/logout" role="button">Logout</a>
    </div>
    <!-- Navigation -->
    <div class="jumbotron container mainsection">
        <h1>Welcome to Your Self-Service Center!</h1>
        <p>To learn more about what this website can do, click below!</p>
        <a class="btn-primary btn-lg" href="/help" role="button">Learn more</a>
        <div class="divider" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><strong>Personal</strong></h5>
                            <p class="card-text">Whether it's reminding yourself what your name is to checking if today is your birthday, the personal page has all of the identifying information you need.</p>
                            <a href="/students/personal" class="btn-lg btn-primary">Take me!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><strong>Academic</strong></h5>
                            <p class="card-text">Want to know where you stand in the semester with your grades? Unsure if you'll be able to pass your course with a good grade? If so, viewing the academics page could help.</p>
                            <a href="/students/academic" class="btn-lg btn-primary">Take me!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><strong>Classes</strong></h5>
                            <p class="card-text">Unsure of where your next class is? Want to see how many credits you'll earn? Want to know how to spell your professor's name? If so, the classes page is for you!</p>
                            <a href="/students/classes" class="btn-lg btn-primary">Take me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Section -->

    <!-- Copyrights Section -->
    <div class="copyright">&copy;2018 -TEAM<sup>3</sup></sp>
    </div>
    </div>
    <!-- Main Container Ends -->
</body>

</html>
